body {
SCROLLBAR-FACE-COLOR: #94c0d6; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #447093; SCROLLBAR-ARROW-COLOR: #000040; SCROLLBAR-TRACK-COLOR: #447093; SCROLLBAR-DARKSHADOW-COLOR: #447093
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	color: #151B8D;
	background: #E0FFFF;
	margin: 0px;
	padding: 20px 100px 0px;
}
.textfield {
	font-size: 14px;
	color: #151B8D;
	border: 3px solid #cccccc;
	padding-left: 1px;
	background:  #E0FFFF;
	
}
h1 {
	color: #151B8D;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}



a {
	
	color: #151B8D;
	font-size: 14px;
}
a:hover {
	color: #2D3954;
}
.err {
	color: #FF9900;
}
th {
	font-weight: bold;
	text-align: left;
}

.register{
	color: #151B8D;
	margin-top:0px;
	margin-left: 50px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
	}


textarea#styled {
        width: 600px;
        height: 120px;
        border: 3px solid #cccccc;
        padding: 5px;
        font-family: Tahoma, sans-serif;
        background-image: url(bg.gif);
        background-position: bottom right;
        background-repeat: no-repeat;
	background:  #E0FFFF;
}

Content#styled {
        width: 100%;
        border-width: 0;
        padding: 5px;
        font-family: Tahoma, sans-serif;
	background:  #E0FFFF;
}



.boxsizingBorder {
box-sizing: border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
}

#submit{
	
	/* The submit button */
	
	/*background-color:#58B9EB;*/
	background:transparent url('menu_images/HOVER.gif') no-repeat top right;
	border:1px solid #40A2D4;
	/*color:#FFFFFF;*/
	color:#874B46;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	margin-top:5px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#submit:hover{
	/*background-color:#80cdf5;*/
	background:transparent url('menu_images/OFF.gif') repeat-x top left;
	border-color:#52b1e2;
}



