/******   H3    */
#cssmenu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:36px;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	background:transparent url('menu_images/OFF.gif') repeat-x top left;
	font-family:Helvetica,Arial,Verdana,sans-serif;
	border-bottom:4px solid #336666;
	border-top:1px solid #C0E2D4;
}
#cssmenu li{
	display:block;
	float:left;
	margin:0;
	pading:0;}
#cssmenu li a{
	display:block;
	float:left;
	color:#874B46;
	text-decoration:none;
	font-weight:bold;
	padding:12px 20px 0 20px;
	height:24px;
	background:transparent url('menu_images/DIVIDER.gif') no-repeat top right;
	}
#cssmenu li a:hover{
	background:transparent url('menu_images/HOVER.gif') no-repeat top right;	
	}

#button {
	width: 13em;

	
}


#button ul{

	list-style: none;
	margin: 0;
	padding: 0;
	border: none;	
	height:auto
	
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	background:transparent url('menu_images/OFF.gif') repeat;
	font-family:Helvetica,Arial,Verdana,sans-serif;

	border-bottom:4px solid #336666;
	border-top:1px solid #C0E2D4;
}
#button li{
	margin: 0;
	list-style: none;
	list-style-image: none;	
}
#button li a{
	

	display:block;
	color:#874B46;
	text-decoration:none;
	font-weight:bold;
	padding:12px 20px 0 20px;
	height:24px;
	background:transparent url('menu_images/DIVIDER.gif') no-repeat top right;
	}

	
	}
#button li a:hover{
	background:transparent url('menu_images/HOVER.gif') repeat;
	height:auto	
	}

#button1 {
	width: 12em;
	border-right: 1px solid #000;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: #90bade;
	color: #333;
}

#button1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#button1 li {
	border-bottom: 1px solid #90bade;
	margin: 0;
	list-style: none;
	list-style-image: none;
}
	
#button1 li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #button li a {
	width: auto;
}

#button1 li a:hover {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}
